.conteudo-grupo {
    display: none;
}

.grupo-cards.ativo .conteudo-grupo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 768px) {
    .grupo-cards.ativo .conteudo-grupo {
        grid-template-columns: 1fr;
    }
}
