@charset "UTF-8";

.galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* centraliza quando tem menos de 4 */
  gap: 15px;
}

.galeria a > img {
  width: calc(60% - 15px); /* 4 por linha */
  max-width: 600px;       /* opcional */
  height: auto;
}

/* Responsivo */
@media (max-width: 700px) {
  .galeria a > img {
    width: calc(33.33% - 15px); /* 3 por linha */
  }
}

@media (max-width: 600px) {
  .galeria a > img {
    width: calc(50% - 15px); /* 2 por linha */
  }
}

@media (max-width: 300px) {
  .galeria a > img {
    width: 100%; /* 1 por linha */
  }
}
img {
  max-width: 100%;
  margin: auto;
  display: block;
}
.cards_img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 350px));
    justify-content: center;
    gap: 15px;
    box-shadow: 7px 7px 15px #00000069;
}


.cards {
  background: #bdbdbd85;
  padding: 7px;
  border-radius: 12px;
  box-shadow: 7px 7px 15px #00000069;
  text-align: center;
}

.cards img {
  width: auto;
  height: 500px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 8px;
}

/* Responsivo */
@media (max-width: 900px) {
  .cards_img {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards_img {
    grid-template-columns: 1fr;
  }
}
.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    inset: 0;
    background: rgba(0,0,0,0.95);
    text-align: center;
    padding: 40px 20px;
}

.lightbox-content {
    max-width: 95%;
    max-height: 95vh;
    margin: auto;
}

.lightbox-img {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain; /* mantém proporção */
}

.lightbox-text {
    color: white;
    margin-top: 15px;
    font-size: 18px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
    padding: 20px;
}

.prev { left: 20px; }
.next { right: 20px; }
